[Desktop Entry]
Encoding=UTF-8
Name=KekCoin
Comment=KekCoin P2P Cryptocurrency
Comment[fr]=KekCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=KekCoin, eşten eşe kriptografik sanal para birimi
Exec=kekcoin-qt %u
Terminal=false
Type=Application
Icon=kekcoin128
MimeType=x-scheme-handler/kekcoin;
Categories=Office;Finance;
