
## <summary>policy for kekcoin</summary>


########################################
## <summary>
##	Transition to kekcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`kekcoin_domtrans',`
	gen_require(`
		type kekcoin_t, kekcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, kekcoin_exec_t, kekcoin_t)
')


########################################
## <summary>
##	Execute kekcoin server in the kekcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kekcoin_initrc_domtrans',`
	gen_require(`
		type kekcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, kekcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search kekcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kekcoin_search_lib',`
	gen_require(`
		type kekcoin_var_lib_t;
	')

	allow $1 kekcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read kekcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kekcoin_read_lib_files',`
	gen_require(`
		type kekcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, kekcoin_var_lib_t, kekcoin_var_lib_t)
')

########################################
## <summary>
##	Manage kekcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kekcoin_manage_lib_files',`
	gen_require(`
		type kekcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, kekcoin_var_lib_t, kekcoin_var_lib_t)
')

########################################
## <summary>
##	Manage kekcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kekcoin_manage_lib_dirs',`
	gen_require(`
		type kekcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, kekcoin_var_lib_t, kekcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an kekcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`kekcoin_admin',`
	gen_require(`
		type kekcoin_t;
		type kekcoin_initrc_exec_t;
		type kekcoin_var_lib_t;
	')

	allow $1 kekcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, kekcoin_t)

	kekcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 kekcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, kekcoin_var_lib_t)

')

