policy_module(kekcoin, 1.100.1)

########################################
#
# Declarations
#

type kekcoin_t;
type kekcoin_exec_t;
init_daemon_domain(kekcoin_t, kekcoin_exec_t)

permissive kekcoin_t;

type kekcoin_initrc_exec_t;
init_script_file(kekcoin_initrc_exec_t)

type kekcoin_conf_t;
files_type(kekcoin_conf_t)

type kekcoin_var_lib_t;
files_type(kekcoin_var_lib_t)

type kekcoin_var_run_t;
files_type(kekcoin_var_run_t)

type kekcoin_port_t;
corenet_port(kekcoin_port_t)

########################################
#
# kekcoin local policy
#
allow kekcoin_t self:process { fork };

allow kekcoin_t self:fifo_file rw_fifo_file_perms;
allow kekcoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(kekcoin_t, kekcoin_conf_t, kekcoin_conf_t)
manage_files_pattern(kekcoin_t, kekcoin_conf_t, kekcoin_conf_t)

manage_dirs_pattern(kekcoin_t, kekcoin_var_lib_t, kekcoin_var_lib_t)
manage_files_pattern(kekcoin_t, kekcoin_var_lib_t, kekcoin_var_lib_t)
files_var_lib_filetrans(kekcoin_t, kekcoin_var_lib_t, { dir file })

manage_dirs_pattern(kekcoin_t, kekcoin_var_run_t, kekcoin_var_run_t)
manage_files_pattern(kekcoin_t, kekcoin_var_run_t, kekcoin_var_run_t)

sysnet_dns_name_resolve(kekcoin_t)
corenet_all_recvfrom_unlabeled(kekcoin_t)

allow kekcoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(kekcoin_t)
corenet_tcp_sendrecv_generic_node(kekcoin_t)
corenet_tcp_sendrecv_all_ports(kekcoin_t)
corenet_tcp_bind_generic_node(kekcoin_t)

gen_require(`
    type kekcoin_port_t;
')
allow kekcoin_t kekcoin_port_t:tcp_socket name_bind;

gen_require(`
    type kekcoin_port_t;
')
allow kekcoin_t kekcoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(kekcoin_t)

files_read_etc_files(kekcoin_t)

miscfiles_read_localization(kekcoin_t)

sysnet_dns_name_resolve(kekcoin_t)

allow kekcoin_t kekcoin_exec_t:file execute_no_trans;
allow kekcoin_t self:process setsched;
corecmd_exec_ls(kekcoin_t)
corenet_tcp_connect_http_port(kekcoin_t)
dev_read_urand(kekcoin_t)
fs_getattr_xattr_fs(kekcoin_t)
kernel_read_system_state(kekcoin_t)
